<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EXM.Sitecore.EmailCampaign" version="3.1.2" targetFramework="net45" />
  <package id="EXM.Sitecore.EmailCampaign.Analytics.Model" version="3.1.2" targetFramework="net45" />
  <package id="EXM.Sitecore.EmailCampaign.Server" version="3.1.2" targetFramework="net45" />
  <package id="EXM.Sitecore.EmailCampaign.Statistics" version="3.1.2" targetFramework="net45" />
  <package id="SC.Sitecore.Analytics" version="8.0.6" targetFramework="net45" />
  <package id="SC.Sitecore.Kernel" version="8.0.6" targetFramework="net45" />
  <package id="SC.Sitecore.Services.Core" version="8.0.6" targetFramework="net45" />
  <package id="SC.Sitecore.Services.Infrastructure" version="8.0.6" targetFramework="net45" />
  <package id="SC.System.Web.Http" version="8.0.6" targetFramework="net45" />
</packages>